70000029-cdo_appian-T2PRJ0405368-Alojables-tmp/Alojables/tmp/datatype/%7Burn%3Acom%3Aappian%3Atypes%7DV_CDO_APROBACIONES.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types"
  xmlns:tns="urn:com:appian:types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="V_CDO_APROBACIONES">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="V_CDO_APROBACIONES")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000eb53-a2e2-8000-a119-014d98014d98</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000eb53-a2e2-8000-a119-014d98014d98"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="idreporte" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @Column(name="IDREPORTE", columnDefinition="NUMBER")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="mercado" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MERCADO", columnDefinition="VARCHAR2(60)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="operacion" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="OPERACION", columnDefinition="VARCHAR2(10)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="contrato" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CONTRATO", columnDefinition="VARCHAR2(50)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="nombre" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="NOMBRE", columnDefinition="VARCHAR2(180)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="emisora" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="EMISORA", columnDefinition="VARCHAR2(30)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="monto" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MONTO", columnDefinition="FLOAT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="promotor" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="PROMOTOR", columnDefinition="VARCHAR2(250)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ccostos" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CCOSTOS", columnDefinition="VARCHAR2(16)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="region" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="REGION", columnDefinition="VARCHAR2(100)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="usuario" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="USUARIO", columnDefinition="VARCHAR2(16)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="segmento" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="SEGMENTO", columnDefinition="VARCHAR2(30)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fechacaptura" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="FECHACAPTURA", columnDefinition="VARCHAR2(50)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="horacaptura" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="HORACAPTURA", columnDefinition="VARCHAR2(20)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="bitacora" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="BITACORA", columnDefinition="VARCHAR2(4000)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="riesgo" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="RIESGO", columnDefinition="NUMBER")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="revisado" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="REVISADO", columnDefinition="VARCHAR2(50)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="usuarioreviso" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="USUARIOREVISO", columnDefinition="VARCHAR2(16)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ccreviso" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CCREVISO", columnDefinition="VARCHAR2(16)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ip" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IP", columnDefinition="VARCHAR2(22)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fechareviso" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="FECHAREVISO", columnDefinition="VARCHAR2(50)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="observaciones" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="OBSERVACIONES", columnDefinition="VARCHAR2(4000)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rechazo" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="RECHAZO", columnDefinition="VARCHAR2(80)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tInicial" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="T_INICIAL", columnDefinition="VARCHAR2(80)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tFinal" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="T_FINAL", columnDefinition="VARCHAR2(80)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="cV" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="C_V", columnDefinition="VARCHAR2(80)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extra5" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="EXTRA5", columnDefinition="VARCHAR2(80)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="obligatorio" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="OBLIGATORIO", columnDefinition="VARCHAR2(50)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="titulo" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="TITULO", columnDefinition="VARCHAR2(18)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="usuarioaprobo" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="USUARIOAPROBO", columnDefinition="VARCHAR2(16)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fechaaprobacion" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="FECHAAPROBACION", columnDefinition="VARCHAR2(50)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ipaprobacion" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IPAPROBACION", columnDefinition="VARCHAR2(20)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tipoAprobacion" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="TIPO_APROBACION", columnDefinition="VARCHAR2(15)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="motivoEliminado" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MOTIVO_ELIMINADO", columnDefinition="CHAR(2)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="estatus" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ESTATUS", columnDefinition="VARCHAR2(21)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="nombreusuario" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="NOMBREUSUARIO", columnDefinition="VARCHAR2(60)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
